.about-us-section{
  background-color: #cbdceb30;
}

.about-us-section .badge{
  background-color: #1581BF !important;
}

.about-us-section .who-text{
  color: #1C4D8D;
}

.about-us-section .text-muted{
  color: #1581BF !important;
}

.about-us-section .text-muted-green{
  color: #78C841;
}
  
  .about-highlight-box {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  }
  
  .about-card {
    background: #ffffff;
    padding: 28px;
    border-radius: 14px;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  }
  
  .about-card h5 {
    color: #0d6efd; /* Bootstrap primary */
  }
  